.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 5px;
}

.meme {
  width: 50px;
  margin-right: 20px;
}
