.main {
  padding: 40px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid rgb(211, 210, 210);
}

.btn {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  grid-column: 1 / -1;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(90deg, #571d6d 1.18%, #751c96 100%);
  transition: all 200ms ease-in-out;
}

.meme {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
