.form {
  display: grid;
  grid-template-columns: 40px 40px / 1fr 1fr;
}

.btn {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  text-align: center;
  padding: 10px;
  width: 600px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  grid-column: 1 / -1;
}
